h1 {
  text-align: center;
}

.total__container {
  text-align: center;

  margin-bottom: 1rem;
}

.cart__button__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.empty__cart {
  text-align: center;
}
